.bemvindo-container {
    padding-top: 60px; /* Espaço para não cobrir o conteúdo com a navbar fixa */
    text-align: center;
    background-color: #f5f5f5;
    min-height: 100vh;
  }
  
  .bemvindo-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
  }
  
  p {
    font-size: 1rem;
    color: #555;
  }
  